# Automatically normalize line endings for all text-based files
# https://git-scm.com/docs/gitattributes#_end_of_line_conversion

* text=auto

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# For the following file types, normalize line endings to LF on
# checkin and prevent conversion to CRLF when they are checked out
# (this is required in order to prevent newline related issues like,
# for example, after the build script is run)

.*      text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.sh    text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Ignored files for capistrano deploy
#REMOVE#src export-ignore
#REMOVE#config export-ignore
#REMOVE#.jscsrc export-ignore
#REMOVE#Capfile export-ignore
#REMOVE#.bowerrc export-ignore
#REMOVE#REVISION export-ignore
#REMOVE#.jshintrc export-ignore
#REMOVE#README.md export-ignore
#REMOVE#.gitignore export-ignore
#REMOVE#bower.json export-ignore
#REMOVE#gulpfile.js export-ignore
#REMOVE#package.json export-ignore
#REMOVE#manifest.json export-ignore
#REMOVE#.editorconfig export-ignore
#REMOVE#.gitattributes export-ignore