//
// Main theme styles
// --------------------------------------------------



// General styles
// -------------------------

body {
  -webkit-font-smoothing: anitaliased;
}

// Cap container width
.container-fluid {
  max-width: $container-lg;
}

// Responsive images
img {
    max-width: 100%;
    height: auto;
}


// Typography
// -------------------------

strong, b, .strong {
    font-weight: normal;
}


// Helpers
// -------------------------

.v-align-table {
    display: table;

    width: 100%;
    height: 100%;
}

.v-align-cell {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;
}


// Header styles
// -------------------------


// Footer styles
// -------------------------


//
// Pages
// --------------------------------------------------


// Page elements
// -------------------------


// Home
// -------------------------


// Contact
// -------------------------

