//
// WordPress specific
// --------------------------------------------------


// Image alignment classes
// -------------------------
.alignleft, .alignright, .aligncenter, .alignnone {
    max-width: 100%;
}

.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.size-thumbnail {
    &.alignleft {
        float: left;
        margin-right: 12px;
        display: inline;
    }
    &.alignright {
        float: right;
        margin-left: 12px;
        display: inline;
    }
}

.size-medium, .size-large {
    width: 100%;
}


// Extra small screen / phone
@media only screen and (min-width: $screen-xs-min) {

    .size-medium {
        width: auto;
        &.alignleft {
            float: left;
            margin-right: 12px;
            display: inline;
        }
        &.alignright {
            float: right;
            margin-left: 12px;
            display: inline;
        }
    }

}

// Small screen / tablet
@media only screen and (min-width: $screen-sm-min) {

}

// Medium screen / desktop
@media only screen and (min-width: $screen-md-min) {

}

// Large screen / wide desktop
@media only screen and (min-width: $screen-lg-min) {

}
